@import "tailwindcss";

@theme {
  --color-laranja: var(--laranja);
  --color-azul: var(--azul);
  --color-verde: var(--verde);
  --color-vermelho: var(--vermelho);
  --color-rosa: var(--rosa);
  --color-lavanda: var(--lavanda);
  --color-amarelo: var(--amarelo);

  --color-branco: var(--branco);
  --color-cinza: var(--cinza);
  --color-preto: var(--preto);

  --color-border: var(--border);

  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-secondary-foreground: var(--secondary-foreground);
}

:root {
  --laranja: #e88e3d;
  --azul: #4d33cc;
  --verde: #2eb88a;
  --vermelho: #ef4343;
  --rosa: #e8308c;
  --lavanda: #9485e0;
  --amarelo: #f4d125;

  --branco: #fafaf9;
  --cinza: #f6f7f9;
  --preto: #151720;

  --border: #dcdfe5;

  --background: var(--cinza);
  --secondary-background: var(--branco);
  --foreground: var(--preto);
  --secondary-foreground: #1d2030;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--preto);
    --secondary-background: #1d2030;
    --foreground: var(--cinza);
    --secondary-foreground: var(--branco);

    --border: #3a3850;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
